.identity-content {
    text-align: center;

    .icon {
        display: flex;
        width: 75px;
        height: 75px;
        border-radius: 100px;
        margin: 0 auto;
        background: lighten($primary, 42%);
        color: $primary;
        font-size: 30px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        // border: 1px solid $primary;
    }

    h4 {
        max-width: 350px;
        margin: 0 auto 15px;
    }

    p {
        max-width: 350px;
        margin: 0 auto 30px;
    }
}


.settings-menu {
    margin-bottom: 30px;

    a {
        display: inline-block;
        margin-right: 20px;
        color: $body-color;
        // font-weight: $headings-font-weight;
        font-size: 16px;
        // opacity     : 0.75;

        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $primary;
            // opacity: 1;
        }
    }
}

.welcome-profile {


    img {
        border: 4px solid $white;
        border-radius: 100px;
        width: 75px;
    }

    // text-align: center;

    h4 {
        // color     : $white;
        margin-top: 10px;
        font-size: 18px;
    }

    p {
        // color          : $white;
        opacity: 0.75;
        // max-width   : 300px;
        // margin   : 0 auto;

    }

    ul {
        text-align: left;

        li {
            padding: 15px 0px;
            border-bottom: 1px solid $border-color;

            &:last-child {
                border: 0px;
                padding-bottom: 0px;
            }

            a {
                // color      : darken($white, 5%);
                display: flex;
                align-items: center;
                transition: all 0.25 ease-in-out;

                span {
                    // background     : $primary;
                    padding: 5px;
                    border-radius: 50px;
                    width: 30px;
                    height: 30px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    transition: all 0.25 ease-in-out;

                    &.verified {
                        background: $success;
                        color: $white;
                    }

                    &.not-verified {
                        background: $primary;
                        color: $white;
                    }
                }
            }
        }
    }

}